
p1 {
  color: rgba(253, 254, 255, 1);
  font-size: 80px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 165px;
}


.movie-info-and-characters {
  display: flex;

}

p2 {
  color: rgba(35, 35, 35, 1);
  font-family: 'Helvetica';
  font-size: 24px;
}


.movie-details {
  max-width: 850px;
  border-radius: 20px;
  flex-direction: column;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;  
}

.movie-details .movie-generals {
  background-color: rgb(243, 247, 250); 
  display: flex; 
}


.movie-details .second_image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.movie-details .second_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title-and-description {
  padding-left: 10px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 65px;
}

.movie-details .movie-title {
  color: rgba(35, 35, 35, 1);
  font-family: 'Helvetica';
  font-size: 23px;
  font-weight: bolder;
}

.movie-details .movie-description {
  color: rgba(35, 35, 35, 1);
  font-family: 'Helvetica';
  font-size: 16px;
  text-align: justify;
  margin-top: 32px;
}

.movie-details .movie-poster {
  width: 250px;
  border-radius: 10px;
  margin-left: 60px;  
  position: relative;
  top: -70px;
}

.movie-details .movie-characters {
  background-color: rgb(243, 247, 250);
  display: grid;
  text-align: center;

}

.subtitle-characters {
  position: center;
}

.movie-characters .each-character {
  height: 410px;
  width: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-img {
  width: 120px;
  padding-top: 180px;
}

.movie-characters p {
  color: rgba(35, 35, 35, 1);
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -10px;
}


.movie-details .movie-info {
  background: rgb(253, 254, 255);
  width: 200px;
  margin-left: 50px;
  line-height: 5px;
  border-radius: 8px;
  height: 235px;
  position: relative;
  top: -20px;

}

.movie-details .general {
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
  padding-top: 15px;
}

.movie-details .specific {
  font-family: 'Helvetica';
  font-size: 12px;
  margin-left: 25px;
}


body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
