body {
    background-color: rgb(243, 247, 250);
    height: 100%;
    width: 100%;
}

header {
    background-image: url(https://wallpaperaccess.com/full/370969.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    left: 0;
    top: 0;
    padding-bottom: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 10px;
}

h1 {
    width: 100%;
    font-family: 'jsMath-cmr10';
    font-size: 90px;
    text-align: center;
    color: #FDFEFF;
}

p1 {
    width: 100%;
    height: 71px;
    font-family: helvetica;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #FDFEFF;
}

main {
    background-color: rgb(243, 247, 250, 1);
    align-items: center;
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: -50px;
}

.search-bar-block {
    background-color: rgb(50, 166, 202);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 133px;
    border-radius: 8px;
    position: absol
}

.barra-buscar {
    border-radius: 5px;
    border: 1px solid #39c;
    padding-top: 37px;
    width: 700px;
    height: 68px;
}